@model IEnumerable<BanXeHoi.Models.ThongKe>

@{
    ViewBag.Title = "ThongKe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thống kê</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.xe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.soluong)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.xe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.soluong)
            </td>
        </tr>
    }

</table>
