
@{
    ViewBag.Title = "XacnhanDonhang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Đơn hàng đã được xác nhận</h2>
<h3>Chúng tôi sẽ giao xe cho bạn !!</h3>
<p>
    @Html.ActionLink("Về trang chủ", "Index", "XeHoi")
</p>

